.about {
  padding: 120px 0;


  &__container {
    max-width: 1100px;
    margin: 0 auto;
  }


  &__title {
    font-size: 36px;
    margin-bottom: 32px;
  }


  &__text {
    max-width: 720px;
    line-height: 1.8;
    margin-bottom: 24px;
  }
}
