.gallery {
  padding: 120px 0;


  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }


  img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    cursor: pointer;
  }


  &__lightbox {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .85);
    display: flex;
    justify-content: center;
    align-items: center;


    img {
      max-width: 90%;
      max-height: 90%;
    }
  }
}
