.header {
  @include onTablet {
    background-position: center;
    background-size: cover;
  }

  @include onDekstop {
    width: 100%;
    background-size: cover;
  }
  
  &__container {
    @include container;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100vh;
    padding: $headerTopPadding 0 80px;
  }

  &__top {
    @include top-actions;
  }

  &__title {
    margin: 0 auto 100px;
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    color: #fff;
    letter-spacing: -1.5px;

    @include onTablet {
      margin: 0 auto 180px;
      font-size: 64px;
      line-height: 64px;
    }

    @include onDekstop {
      margin: 0 auto 200px;
      font-size: 80px;
      line-height: 80px;
    }
  }
}
