.hero {
  height: 100vh;
  background: url(../../public/Wilena/villach/664438833.jpg) center/cover no-repeat;


  &__overlay {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .45);
  }


  &__title {
    font-size: 72px;
    letter-spacing: .18em;
    color: #fff;
  }


  &__subtitle {
    margin-top: 16px;
    color: #fff;
    font-size: 20px;
  }
}