.room-card {
  background: #fff;
  padding: 24px;
  border: 1px solid #ddd;

  &__price {
    font-weight: bold;
  }

  &__title {
    margin: 10px 0;
  }

  &--highlight {
    border-color: #111;
  }
}
