.welcome {
  background-color: $primary-blue;
  color: $white;
  padding: 60px 0 0;

  &__content {
    text-align: center;
    padding: 0 20px 40px;
  }

  &__title {
    font-size: 40px;
    font-family: serif;
    margin-bottom: 30px;
  }

  &__text {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto 15px;
  }

  &__image {
    width: 100%;
  }
}
