@font-face {
  font-family: "Alex_Brush";
  src: url("../../../public/fonts/Alex_Brush/AlexBrush-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nanum_Brush";
  src: url("../../../public/fonts/Nanum_Brush_Script/NanumBrushScript-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../../public/fonts/Roboto/Roboto-VariableFont_wdthwght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gothic";
  src: url("../../../public/fonts/Gothic/SpecialGothic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Brush";
  src: url("../../../public/fonts/Brush/BrushScriptOpti-Regular.otf") format("woff");
  font-weight: normal;
  font-style: normal;
}

